<ion-item class="ion-align-items-center" button detail>
  <div slot="start" class="code">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </div>
  <ion-label class="ion-text-wrap ">
    <p>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </p>
    <p>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </p>
    <p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
    <p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
  </ion-label>
</ion-item>