  <div class="content" >
    <div class="container" >
      <h1 class="logo"> Sign-In</h1>
      <form  #loginForm="ngForm" class="box" (ngSubmit)="onSubmit(loginForm)">
        <ion-item mode="md" lines="none" color="dark">
          <ion-label color="light" position="floating">Email</ion-label>
          <ion-input name="email" inputmode="email" type="email" required ngModel pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" ></ion-input>
        </ion-item>
        <ion-item mode="md" lines="none" color="dark">
          <ion-label color="light" position="floating"> Password</ion-label>
          <ion-input name="password" inputmode="password" [type]="passwordVisible ? 'text' : 'password'" required ngModel></ion-input>
          <ion-icon slot="end" [name]="passwordVisible ? 'eye' : 'eye-off'" class="ion-align-self-center" (click)="passwordVisible = !passwordVisible"></ion-icon>
        </ion-item>
        <div class="ion-buttons">
          <ion-button type="submit" color="dark" [disabled]="!loginForm.form.valid"  shape="round" >Login</ion-button>
          <ion-button color="dark" shape="round" [routerLink]="['/sign-up']">Sign Up</ion-button>
        </div>
      </form>
      <div class="provider-login-buttons">
        <ion-row>
          <ion-col>
            <ion-button color="primary" shape="round" disabled>
              <ion-icon color="dark" slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="danger" shape="round" (click)="onSignInWithProvider('google')">
              <ion-icon color="dark" slot="icon-only" name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <ion-button color="dark" fill="clear" disabled>Forgot Password</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
