<ion-list>
  <ion-item>
    <ion-label>
      Código
    </ion-label>
    <ion-note slot="end" class="note">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-note>
  </ion-item>
  <ion-item button>
    <ion-label>
      Ex. Data
    </ion-label>
    <ion-note slot="end" class="note">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-note>
    <ion-icon slot="end" name="information-circle"></ion-icon>
  </ion-item>
  <ion-item button>
    <ion-label>
      Com. Data
    </ion-label>
    <ion-note slot="end" class="note">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-note>
    <ion-icon slot="end" name="information-circle"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>
      Data Aprovação
    </ion-label>
    <ion-note slot="end" class="note">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-note>
  </ion-item>
  <ion-item button>
    <ion-label>
      Data do pagamento
    </ion-label>
    <ion-note slot="end" class="note">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-note>
    <ion-icon slot="end" name="information-circle"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>
      Tipo do pagamento
    </ion-label>
    <ion-note slot="end" class="note">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      Pagamento por tipo de cota:
    </ion-label>
    <ion-note slot="end" class="note">
      <p>ON: <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </p>
      <p>PN: <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </p>
    </ion-note>

  </ion-item>
  <ion-item>
    <ion-label>
      Preço do ativo
    </ion-label>
    <ion-note slot="end"  class="note">
      <p>Preço ON: <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </p>
      <p>Preço PN: <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </p>
      <p>Preço UNIT: <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </p>
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-text>Dividend Yield pagamento</ion-text>
    </ion-label>
    <ion-note slot="end" class="note">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-note>
  </ion-item>
</ion-list>