<ion-header >
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="button" fill="clear" (click)="onLogout()">
        <ion-avatar *ngIf="currentUser?.photoURL;else noPhoto">
          <img [src]="currentUser?.photoURL">
        </ion-avatar>
        <ng-template #noPhoto>
          <ion-icon name="person-outline"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-list-header>
      Features
    </ion-list-header>
    <ion-item *ngFor="let page of pageList" [routerLink]="page.route" button detail>
      <ion-icon slot="start" [name]="page.iconName"></ion-icon>
       <ion-label>{{page.title}}</ion-label>
     </ion-item>
  </ion-list>