<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button class="button" fill="clear" (click)="onLogout()">
        <ion-avatar *ngIf="currentUser?.photoURL;else noPhoto">
          <img [src]="currentUser?.photoURL">
        </ion-avatar>
        <ng-template #noPhoto><ion-icon name="person-outline"></ion-icon></ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content>