<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dividends"></ion-back-button>
    </ion-buttons>
    <ion-title>Dividendo</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!(dividend && quotes); else loaded">
    <app-dividend-view-list-skeleton></app-dividend-view-list-skeleton>
  </ng-container>
  <ng-template #loaded>
    <app-dividend-view-list [dividend]="dividend" [quotes]="quotes"></app-dividend-view-list>
     <ion-card>
    <ion-card-header>
      <ion-card-title>Calculadora de valores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="fixed">Preço / Cota</ion-label>
        <ion-input type="number" readonly [value]="dividend.value.ON"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cotas</ion-label>
        <ion-input step="10" type="number" value="100" #cotas></ion-input>
      </ion-item>
      <ion-item *ngIf="on_quote">
        <ion-label>Valor investido {{  castToNumber(cotas.value) * on_quote.price | currency:'BRL' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rentabilidade {{ (dividend?.value?.ON * castToNumber(cotas.value)) | currency:'BRL' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  </ng-template>
 
</ion-content>