<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dividends"></ion-back-button>
    </ion-buttons>
    <ion-title>Dividendo</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ng-container *ngIf="dividend">
    <ion-list >
      <ion-item>
        <ion-label>
         Código
        </ion-label>
        <ion-note slot="end">
          {{dividend?.code}}
        </ion-note>
      </ion-item>
      <ion-item button  (click)="onPresentInformationSelected('exDate','Ex. Data')">
        <ion-label>
          Ex. Data 
        </ion-label>
        <ion-note slot="end">
          {{dividend?.exDate | date:'dd/MM/yyyy'}}
        </ion-note>
        <ion-icon slot="end" name="information-circle" ></ion-icon>
      </ion-item>
      <ion-item button (click)="onPresentInformationSelected('comDate','Com. Data')">
        <ion-label>
          Com. Data 
        </ion-label>
        <ion-note slot="end">
          {{dividend?.comDate | date:'dd/MM/yyyy'}}
        </ion-note>
        <ion-icon slot="end" name="information-circle" ></ion-icon>
      </ion-item>
      <ion-item >
        <ion-label>
          Data Aprovação
        </ion-label>
        <ion-note slot="end">
          {{dividend?.aprovalDate | date:'dd/MM/yyyy'}}
        </ion-note>
      </ion-item>
      <ion-item button (click)="onPresentInformationSelected('paymentDate','Data do pagamento')">
        <ion-label>
          Data do pagamento 
        </ion-label>
        <ion-note slot="end">
          {{dividend?.paymentDate | date:'dd/MM/yyyy'}}
        </ion-note>
        <ion-icon slot="end" name="information-circle" ></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          Tipo do pagamento 
        </ion-label>
        <ion-note slot="end">
          {{dividend?.paymentType}}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>
          Pagamento por tipo de cota:
        </ion-label>
        <ion-note slot="end">
          <p>ON: {{dividend?.value?.ON| currency: 'BRL'}}</p>
          <p>PN: {{dividend?.value?.PN | currency: 'BRL'}}</p>
        </ion-note>
       
      </ion-item>
      <ion-item>
        <ion-label>
          Preço do ativo (ON)
        </ion-label>
        <ion-note slot="end">
          <p>Preço Médio: {{quote?.price | currency: 'BRL'}}</p>
          <p>Data: {{quote?.date | date: 'dd/MM/yyyy'}}</p>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text >Dividend Yield pagamento (ON)</ion-text>
        </ion-label>
        <ion-note slot="end">
          <ion-text [color]="getYield() > 0.05 / 12 ? 'success' : 'primary' ">{{getYield() | percent:'1.3-5'}}</ion-text>
        </ion-note>
      </ion-item>
    </ion-list>
    <ion-card >
      <ion-card-header>
        <ion-card-title>Calculadora de valores</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-label position="fixed">Preço / Cota</ion-label>
          <ion-input type="number" readonly [value]="dividend.value.ON"></ion-input>
        </ion-item>
        <ion-item>
         <ion-label position="floating">Cotas</ion-label>  
          <ion-input step="10" type="number" value="100" #cotas></ion-input>
        </ion-item>
        <ion-item *ngIf="quote">
          <ion-label>Valor investido {{  castToNumber(cotas.value) * quote.price | currency:'BRL' }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Rentabilidade {{ (dividend?.value?.ON * castToNumber(cotas.value)) | currency:'BRL' }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!isLoading && !dividend">
    <ion-list>
      <ion-item>
        <ion-label>
          Dividendo nao encontrado, retorne para a pagina inicial e rente novamente
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
 
</ion-content>